---
// Simple Media Picker modal (client-side behavior implemented where used)
---
<div id="mediaPicker" class="media-picker" style="display:none;">
  <div class="picker-backdrop"></div>
  <div class="picker-panel">
    <div class="picker-header">
      <h4>Seleccionar Imagen</h4>
      <button id="mediaPickerClose">×</button>
    </div>
    <div id="mediaPickerContent">Cargando...</div>
    <div class="picker-actions">
      <button id="mediaPickerSelect" class="btn btn-primary">Seleccionar</button>
      <button id="mediaPickerCancel" class="btn">Cancelar</button>
    </div>
  </div>
</div>
